
<body>
    <div class="button-container">
        <button class="btn btn-1" routerLink="add-customer">add customer</button>
        <button class="btn btn-2" routerLink="manage-customer">manage customer</button>
        <button class="btn btn-3" routerLink="add-item">add item</button>
        <button class="btn btn-4" routerLink="manage-item">manage item</button>
        <button class="btn btn-5" routerLink="add-rental">add rental</button>
        <button class="btn btn-6" routerLink="manage-rental">manage rental</button>
        <button class="btn btn-6" routerLink="bill-page">bill</button>
    </div>
</body>