<body class="background">
    <div class="add-book-container">
      <h2>Add a New Rental</h2>
      <form #bookForm="ngForm">
        <div class="form-group">
          <label for="title">Rental Date</label>
          <input
            type="date"
            id="bookName"
            name="bookName"
            [(ngModel)]="rental.rentalDate"
            required
            placeholder="Enter item name"
          />
        </div>
  
        <div class="form-group">
          <label for="category">Return Date</label>
          <input
            type="date"
            id="bookCategory"
            name="bookCategory"
            [(ngModel)]="rental.returnDate"
            required
            placeholder="Enter return date"
          />
        </div>
  
        <div class="form-group">
          <label for="author">Due Date</label>
          <input
            type="date"
            id="bookAuthor"
            name="bookAuthor"
            [(ngModel)]="rental.dueDate"
            required
            placeholder="Enter due date"
          />
        </div>

        <div class="form-group">
            <label for="author">Total cost</label>
            <input
              type="text"
              id="bookAuthor"
              name="bookAuthor"
              [(ngModel)]="rental.totalCost"
              required
              placeholder="Enter total cost"
            />
          </div>

          <div class="form-group">
            <label for="customerName">Customer Name</label>
            <select
              id="customerName"
              name="customerName"
              [(ngModel)]="rental.customerName"
              required
            >
              <option *ngFor="let customer of customers" [value]="customer.customerName">
                {{ customer.customerName }}
              </option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="itemId">Item Id</label>
            <select
              id="itemId"
              name="itemId"
              [(ngModel)]="rental.itemId"
              required
            >
              <option *ngFor="let item of items" [value]="item.itemId">
                {{ item.itemId }}
              </option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="itemName">Item Name</label>
            <select
              id="itemName"
              name="itemName"
              [(ngModel)]="rental.itemName"
              required
            >
              <option *ngFor="let item of items" [value]="item.itemName">
                {{ item.itemName }}
              </option>
            </select>
          </div>
          
  
        <button
          class="button2"
          [disabled]="bookForm.invalid"
          (click)="onSubmit()"
        >
          Add Rental
        </button>
      </form>
    </div>
  </body>